{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" type="css" href="{% static 'css/index.css' %}">

<title>Jasoseol</title>
</head>
<body>



    <div class="container">
        {% if user.is_authenticated %}
        <p>{{user}}님 안녕하세요!</p>
        <a href="{% url 'logout' %}">
            <button>로그아웃</button>
        </a>
        {% else %}
        <a href="{% url 'register' %}">
            <button>회원가입</button>
        </a>
        <a href="{% url 'login' %}">
            <button>로그인</button>
        </a>
        {% endif %}


        <div class="make_jss">
            <div class="Go_btn">
                <a href="{% url 'create' %}">
                    +
                </a>
            </div>
            <h3>자기소개서 작성</h3>
        </div>


        {% for jss in myjss %}
        <a href="{% url 'detail' jss.id %}">
            <div class="my_jss">
                <p>{{jss.id}} 번째 자소서</p>
                <p>{{jss.title}}</p>
            </div>
        </a>
        {% endfor %}
    </div>

</body>

</html>

<nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if myjss.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{myjss.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link" href="#">
                {{ myjss.number }} of {{ myjss.paginator.num_pages }}
                </a>
            </li>

            {% if myjss.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{myjss.next_page_number}}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{myjss.paginator.num_pages}}">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>